# Langfuse Config
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST="http://localhost:3031"

# Gemini Config
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-1.5-flash"

# Tools Config
TAVILY_API_KEY=""